@use "../abstract/" as *;
@use "../base/" as *;

.aboutBanner {
  background-color: $clr--dark;
  padding: 5rem;
  &__title {
    h2 {
      font-size: 2rem;
      font-family: $font-primary;
      font-weight: 200;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    background-color: $clr--primary;
    padding: 5rem;
    gap: 5rem;
    p{
      padding-bottom: 2rem;
    }
  }
  &__content{
    @include centerAll;
    @include evengrid(4, 5rem);
  }
}
