@use "../abstract/" as *;
@use "../base/" as *;

.contact {
  &__wrapper {
    padding: 6rem 7rem;
    background-color: #fcf9f1;
    display: flex;
    gap: 2rem;
  }
  &__find {
    h2 {
      color: $clr--dark;
      border-bottom: 1px solid #d9d9db;
      font-weight: normal;
    }
  }
  p {
    padding-top: 1rem;
    color: $clr--dark;
    font-family: $font-primary;
    font-size: 15px;
    line-height: 1.7rem;
  }
  &__a {
    border-bottom: 1px solid #d9d9db;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    a {
      color: $clr--secondary;
      font-family: $font-primary;
      font-size: 14px;
      &:hover {
        color: $clr--dark;
        transition: all 0.5s ease;
      }
    }
  }
  &__form {
    h2 {
      font-size: h2;
      color: $clr--dark;
      font-weight: normal;
      border-bottom: 1px solid #d9d9db;
      padding-right: 23.4rem;
    }
  }
  &__input {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    input {
      background-color: #fcf9f1;
      border: 1px solid #d9d9db;
      width: 488px;
      padding: 0.7rem;
      &::placeholder {
        color: $clr--dark;
      }
      &:focus {
        border: none;
        box-shadow: rgba(185, 18, 18, 0.35) 0px 5px 15px;
        &::placeholder {
          color: #d9d9db;
        }
        transition: all 0.5s ease;
      }
    }
    textarea {
      font-family: $font-primary;
      background-color: #fcf9f1;
      padding: 0.7rem;
      border: 1px solid #d9d9db;
      height: 234px;
      width: 670px;
      &::placeholder {
        color: $clr--dark;
        font-family: $font-primary;
      }
      &:focus {
        border: none;
        box-shadow: rgba(185, 18, 18, 0.35) 0px 5px 15px;
        &::placeholder {
          color: $clr--footer;
        }
        transition: all 0.5s ease;
      }
    }
  }
  &__button {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    margin-left: 25rem;
    input {
      font-family: $font-secondary;
      font-size: 1.3rem;
    }
  }
}
