@use "../abstract/" as *;
@use "../base/" as *;

@use "../abstract/" as *;
@use "../base/" as *;

.homeServices {
  margin-bottom: 2rem;
  padding: 12rem 0 0 0;
  &__wrapper {
    margin-top: 5rem;
    @include evengrid(4, 2rem);
    padding: 0 7rem;
  }
  &__card {
    @include centerAll;
    padding: 5rem 0;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    &:hover {
      span {
        height: 107%;
        width: 110%;
      }
      i {
        color: $clr--secondary;
        transition: all 0.5s ease;
      }

      .btn {
        background-color: $clr--light;
        color: $clr--dark;
        transition: all 0.5s ease;
      }
    }
  }

  h3,
  i,
  p,
  h4 {
    z-index: 90;
  }

  h3 {
    border-bottom: 4px solid rgb(255, 255, 255, 0.1);
    padding-bottom: 2.5rem;
    width: 100%;
  }
  i {
    font-size: 3rem;
  }

  p {
    padding: 1rem 0 2rem 0;
  }

  span {
    height: 0;
    width: 0;
    position: absolute;
    background-color: #303033;
    z-index: 10;
  }
}

.homeServices2 {
  &__wrapper {
    padding: 5rem 7rem;
    background-color: pink;
  }
  &__slider {
    display: flex;
    background-color: red;
  }
}

.homeServices2 {
  &__wrapper {
    padding: 5rem 7rem;
  }
  &__slider {
    display: flex;
  }
}
