@use "../abstract/" as *;
@use "../base/" as *;

.btn {
  padding: 0.8rem 2rem;
  &.bg--secondary {
    @extend .btn;
    background-color: $clr--secondary;
    color: $clr--light;
    &:hover {
      background-color: $clr--light;
      color: $clr--dark;
    }
  }
  &bg--slider{
    @extend .btn;
    background-color: $clr--light;
    color: $clr--secondary;
    &:hover{
      background-color: $clr--secondary;
      color: $clr--light;
      border: 1px solid $clr--secondary;
    }
  }
}
