@use "../abstract/" as *;

@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300);

$font-primary: "Ubuntu", Arial, sans-serif;
$font-secondary: "Ubuntu Condensed", Arial, sans-serif;
$font-tertiary: "Raleway", Arial, sans-serif;

html {
  font-size: 62.5%;
}

h1 {
}

h1 {
  // Min - Resolution - Max
  font-size: clamp(5rem, 5vw, 9rem);
}
h2 {
  // Min - Resolution - Max
  font-size: clamp(4rem, 5vw, 6rem);
}
h3 {
  // Min - Resolution - Max
  font-size: clamp(2rem, 5vw, 4rem);
}
h4 {
  // Min - Resolution - Max
  font-size: clamp(1.5rem, 5vw, 2rem);
}
p {
  color: $clr--light;
  // Min - Resolution - Max
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 2rem;
}
